.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #40586ed7;
  width: 100%;
  height: 65px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 20px;
  vertical-align: middle;
  display: flex;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #40586e;
  box-sizing: border-box;
  min-width: 250px;
}

.SidebarList {
  height: auto;
  color: white;
  padding: 0;
  width: 100%;
  margin: 0;
  display: inline-block;
}

.SidebarList .row {
  width: 99%;
  height: 50px;
  margin-top: 10px;
  flex-direction: row;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList :hover {
  background-color: white;
  color: #40586e;
}

.row #icon {
  display: flex;
  place-items: center;
  margin-left: 20px;
  flex: 20%;
}

.row #title {
  display: flex;
  place-items: center;
  margin: auto;
  flex: 100%;
}

.UsersPage {
  width: 100%;
  overflow: hidden;
}

.HomePage {
  width: 100%;
  overflow: hidden;
}

.WeatherPage {
  width: 100%;
  overflow: hidden;
}

.SearchPage {
  width: 100%;
  overflow: hidden;
}

.HomePage .text {
  min-width: 75%;
  width: 75%;
  margin-left: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-wrap: break-word;
  display: block;
}

.UsersPage .text {
  min-width: 75%;
  width: 75%;
  margin-left: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-wrap: break-word;
  display: block;
}

.WeatherPage .text {
  min-width: 75%;
  width: 75%;
  margin-left: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-wrap: break-word;
  display: block;
}

.SearchPage .text {
  min-width: 75%;
  width: 75%;
  margin-left: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  word-wrap: break-word;
  display: block;
}

.SearchPage .search-field {
  min-width: 75%;
  width: 75%;
  margin-left: 25px;
  display: block;
}

.UsersPage .table {
  width: 50%;
  align-items: center;
  align-self: center;
  margin-top: 10%;
  border: 1px solid #40586e;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table td {
  border: 1px solid #40586e;
  text-align: center;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input{
  color:rgba(0, 0, 0, 0.774);
  width: 200px;
  height: 25px;
  font-size: 1em;
  text-align: center;
}

button{

  display: list-item;
  margin-top: 10px;
  color:rgba(0, 0, 0, 0.774);
  width: 100px;
  height: 25px;
  font-size: 1em;
  text-align: center;
}